<div class="container">

  <h3 class="d-flex justify-content-center">Device Management System</h3>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="device" class="m-1 btn btn-light btn-outilne-primary" Button>Devices</button>
      </li>
    </ul>
  </nav>
<router-outlet></router-outlet>
</div>