
    <div class="form-froup row md-form">
        <label class="col-sm-2 col-form-label">Device Name</label>
        <div class="col-sm-10">
            <input type="text" required #name="ngModel" class="form-control" [(ngModel)]="DeviceName" placeholder="Enter device name" >
        </div>
    </div>
    <span *ngIf="name.invalid && name.touched" style="color:red">Please enter a valid username</span>
    
    <div class="form-froup row">
        <label class="col-sm-2 col-form-label">Manufacturer</label>
        <div class="col-sm-10">
            <input type="text" required #manu="ngModel" class="form-control" [(ngModel)]="Manufacturer" placeholder="Enter manufacturer">
        </div>
    </div>
    <span *ngIf="manu.invalid && manu.touched" style="color:red">Please enter a valid manufacturer</span>

    <div class="form-froup row">
        <label class="col-sm-2 col-form-label">Device type</label>
        <div class="col-sm-10">
            <input type="text" required #type="ngModel" class="form-control" [(ngModel)]="DeviceType" placeholder="Enter device type">
        </div>
    </div>
    <span *ngIf="type.invalid && type.touched" style="color:red">Please enter a valid device type</span>

    <div class="form-froup row">
        <label class="col-sm-2 col-form-label">Operating System</label>
        <div class="col-sm-10">
            <input type="text" required #ops="ngModel" class="form-control" [(ngModel)]="OS" placeholder="Enter operating system">
        </div>
    </div>
    <span *ngIf="ops.invalid && ops.touched" style="color:red">Please enter a valid operating system</span>

    <div class="form-froup row">
        <label class="col-sm-2 col-form-label">Operating System Version</label>
        <div class="col-sm-10">
            <input type="text" required #opsv="ngModel" class="form-control" [(ngModel)]="OSVersion" placeholder="Enter operating system version">
        </div>
    </div>
    <span *ngIf="opsv.invalid && opsv.touched" style="color:red">Please enter a valid operating system version</span>

    <div class="form-froup row">
        <label class="col-sm-2 col-form-label">Processor</label>
        <div class="col-sm-10">
            <input type="text" required #proc="ngModel" class="form-control" [(ngModel)]="Processor" placeholder="Enter processor">
        </div>
    </div>
    <span *ngIf="proc.invalid && proc.touched" style="color:red">Please enter a valid processor</span>

    <div class="form-froup row">
        <label class="col-sm-2 col-form-label">RAM</label>
        <div class="col-sm-10">
            <input type="text" required #mem="ngModel" class="form-control" [(ngModel)]="RAM" placeholder="Enter RAM">
        </div>
    </div>
    <span *ngIf="mem.invalid && mem.touched" style="color:red">Please enter a valid RAM memory value</span>

    <div class="form-froup row">
        <label class="col-sm-2 col-form-label">User ID</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="UserID" placeholder="Enter user ID">
        </div>
    </div>

    <button [disabled]="name.invalid || manu.invalid || type.invalid || ops.invalid || opsv.invalid || proc.invalid || mem.invalid" (click)="addDevice()" *ngIf="device.DeviceID==0" class="btn btn-primary">Add</button>

    <button [disabled]="name.invalid || manu.invalid || type.invalid || ops.invalid || opsv.invalid || proc.invalid || mem.invalid" (click)="updateDevice()" *ngIf="device.DeviceID!=0" class="btn btn-primary">Edit</button>

