<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2" 
    data-toggle="modal" data-target="#exampleModal" 
    (click)="addClick()"
    data-backdrop="static" data-keyboard="false">
    Add device
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="close" 
          data-dismiss="modal" aria-label="Close"
          (click)="closeClick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-add-edit-dev [device]="device" *ngIf="ActivateAddEditDeviceComp">

            </app-add-edit-dev>
        </div>
      </div>
    </div>
  </div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Device ID</th>
            <th>Device Name</th>
            <th>User ID</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of DeviceList">
            <td>{{dataItem.DeviceID}}</td>
            <td>{{dataItem.DeviceName}}</td>
            <td>{{dataItem.UserID}}</td>
            <td>

                <button type="button" class="btn btn-light mr-1"
                data-toggle="modal" data-target="#exampleModal" 
                (click)="editClick(dataItem)" data-backdrop="static" data-keyboard="false">View/Edit</button>

                <button type="button" class="btn btn-light mr-1" (click)="deleteClick(dataItem)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>